In [1]:
import pandas as pd
import numpy as np
df1=pd.read_csv("archive/airlines.csv")

# print(df1.shape)   
# print('*************')

# print(df1.info())  
# print('*************')

# print(df1.head())  
# print('*************')

# print(df1.describe())

In [2]:
# df1.head(14)
# print(df1.isnull().sum())

In [3]:
import pandas as pd
import numpy as np
df2=pd.read_csv("archive/airports.csv")

# print(df2.shape)   
# print('*************')

# print(df2.info())  
# print('*************')

# print(df2.head())  
# print('*************')

# print(df2.describe())

In [4]:
# df2
# print(df2.isnull().sum())
# null_rows = df2[df2.isnull().any(axis=1)]
# null_rows
# Latitude and longitude have 3 nulls each

In [5]:
import pandas as pd
import numpy as np
df3=pd.read_csv("archive/flights.csv")

# print(df3.shape)   
# print('*************')

# print(df3.info())  
# print('*************')

# print(df3.head())  
# print('*************')

# print(df3.describe())

/var/folders/2w/hy3qhkf90ld86v626flq0kb80000gn/T/ipykernel_8228/1206682634.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df3=pd.read_csv("archive/flights.csv")

In [6]:
# df3
# print(df3.isnull().sum())

# Dropping null rows from dataframe 2

In [7]:
# Print the number of rows before dropping
print("Number of airports before dropping null rows:", len(df2))

# Drop rows with missing coordinates
df2 = df2.dropna(subset=['LATITUDE', 'LONGITUDE'])

# Print the number of rows after dropping
print("Number of airports after dropping null rows:", len(df2))

# Verify no more null values in coordinates
print("\nRemaining null values in airports dataset:")
print(df2.isnull().sum())

Number of airports before dropping null rows: 322
Number of airports after dropping null rows: 319

Remaining null values in airports dataset:
IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64

# Merging all 3 dataframes

In [8]:
# First, merge flights with airlines
flights_airlines = df3.merge(df1, left_on='AIRLINE', right_on='IATA_CODE', how='left')
print("Shape after merging with airlines:", flights_airlines.shape)
flights_airlines

Shape after merging with airlines: (5819079, 33)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE,AIRLINE_y
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,US,US Airways Inc.
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B6,JetBlue Airways
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B6,JetBlue Airways
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B6,JetBlue Airways
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B6,JetBlue Airways
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,B6,JetBlue Airways

In [9]:
# Now merge with airports for origin airport information
flights_with_origin = flights_airlines.merge(
    df2[['IATA_CODE', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE']], 
    left_on='ORIGIN_AIRPORT', 
    right_on='IATA_CODE', 
    how='left',
    suffixes=('', '_origin')
)
print("\nShape after merging with origin airports:", flights_with_origin.shape)
flights_with_origin

Shape after merging with origin airports: (5819079, 40)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,WEATHER_DELAY,IATA_CODE,AIRLINE_y,IATA_CODE_origin,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,NaN,AS,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,NaN,AA,American Airlines Inc.,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,NaN,US,US Airways Inc.,SFO,San Francisco International Airport,San Francisco,CA,USA,37.61900,-122.37484
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,NaN,AA,American Airlines Inc.,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,NaN,AS,Alaska Airlines Inc.,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,NaN,B6,JetBlue Airways,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,NaN,B6,JetBlue Airways,JFK,John F. Kennedy International Airport (New Yor...,New York,NY,USA,40.63975,-73.77893
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,NaN,B6,JetBlue Airways,JFK,John F. Kennedy International Airport (New Yor...,New York,NY,USA,40.63975,-73.77893
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,NaN,B6,JetBlue Airways,MCO,Orlando International Airport,Orlando,FL,USA,28.42889,-81.31603
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,NaN,B6,JetBlue Airways,JFK,John F. Kennedy International Airport (New Yor...,New York,NY,USA,40.63975,-73.77893

In [10]:
# Finally merge with airports for destination airport information
flights_full = flights_with_origin.merge(
    df2[['IATA_CODE', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE']], 
    left_on='DESTINATION_AIRPORT', 
    right_on='IATA_CODE', 
    how='left',
    suffixes=('', '_dest')
)
print("\nFinal shape after all merges:", flights_full.shape)
flights_full

Final shape after all merges: (5819079, 47)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,COUNTRY,LATITUDE,LONGITUDE,IATA_CODE_dest,AIRPORT_dest,CITY_dest,STATE_dest,COUNTRY_dest,LATITUDE_dest,LONGITUDE_dest
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,USA,61.17432,-149.99619,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,USA,33.94254,-118.40807,PBI,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,USA,37.61900,-122.37484,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,USA,33.94254,-118.40807,MIA,Miami International Airport,Miami,FL,USA,25.79325,-80.29056
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,USA,47.44898,-122.30931,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,USA,33.94254,-118.40807,BOS,Gen. Edward Lawrence Logan International Airport,Boston,MA,USA,42.36435,-71.00518
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,USA,40.63975,-73.77893,PSE,Mercedita Airport,Ponce,PR,USA,18.00830,-66.56301
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,USA,40.63975,-73.77893,SJU,Luis Muñoz Marín International Airport,San Juan,PR,USA,18.43942,-66.00183
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,USA,28.42889,-81.31603,SJU,Luis Muñoz Marín International Airport,San Juan,PR,USA,18.43942,-66.00183
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,USA,40.63975,-73.77893,BQN,Rafael Hernández Airport,Aguadilla,PR,USA,18.49486,-67.12944

In [11]:
# Display the columns in our final dataset
print("\nColumns in the final merged dataset:")
print(flights_full.columns.tolist())

# Check for any missing values
print("\nMissing values in the merged dataset:")
print(flights_full.isnull().sum())

Columns in the final merged dataset:
['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE_x', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'IATA_CODE', 'AIRLINE_y', 'IATA_CODE_origin', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'IATA_CODE_dest', 'AIRPORT_dest', 'CITY_dest', 'STATE_dest', 'COUNTRY_dest', 'LATITUDE_dest', 'LONGITUDE_dest']

Missing values in the merged dataset:
YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE_x                    0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
IATA_CODE                    0
AIRLINE_y                    0
IATA_CODE_origin        490770
AIRPORT                 490770
CITY                    490770
STATE                   490770
COUNTRY                 490770
LATITUDE                490770
LONGITUDE               490770
IATA_CODE_dest          490775
AIRPORT_dest            490775
CITY_dest               490775
STATE_dest              490775
COUNTRY_dest            490775
LATITUDE_dest           490775
LONGITUDE_dest          490775
dtype: int64
YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE_x                    0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
IATA_CODE                    0
AIRLINE_y                    0
IATA_CODE_origin        490770
AIRPORT                 490770
CITY                    490770
STATE                   490770
COUNTRY                 490770
LATITUDE                490770
LONGITUDE               490770
IATA_CODE_dest          490775
AIRPORT_dest            490775
CITY_dest               490775
STATE_dest              490775
COUNTRY_dest            490775
LATITUDE_dest           490775
LONGITUDE_dest          490775
dtype: int64

In [12]:
pd.set_option('display.max_columns', None)
flights_full.head(2)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE,AIRLINE_y,IATA_CODE_origin,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,IATA_CODE_dest,AIRPORT_dest,CITY_dest,STATE_dest,COUNTRY_dest,LATITUDE_dest,LONGITUDE_dest
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807,PBI,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559

# Comprehensive Feature Importance Analysis

We'll analyze feature importance using multiple indicators:
1. Correlation Heatmap
2. Feature Importance using Random Forest
3. Mutual Information Scores
4. Chi-Square Test (for categorical features)
5. ANOVA F-scores

In [13]:
# # 2. Random Forest Feature Importance
# def get_rf_importance(df, target, n_estimators=100):
#     # Remove rows where target variable is NaN
#     df = df.dropna(subset=[target])
    
#     # Prepare the data
#     X = df.drop(target, axis=1)
#     y = df[target]
    
#     # Handle categorical variables
#     for col in X.select_dtypes(include=['object']):
#         # Convert all values to strings before encoding
#         X[col] = X[col].astype(str)
#         le = LabelEncoder()
#         X[col] = le.fit_transform(X[col].fillna('missing'))
    
#     # Fill missing values in numeric columns
#     numeric_cols = X.select_dtypes(include=['float64', 'int64']).columns
#     X[numeric_cols] = X[numeric_cols].fillna(X[numeric_cols].mean())
    
#     # Train Random Forest
#     rf = RandomForestRegressor(n_estimators=n_estimators, random_state=42)
#     rf.fit(X, y)
    
#     # Get feature importance
#     importance = pd.DataFrame({
#         'feature': X.columns,
#         'importance': rf.feature_importances_
#     })
#     return importance.sort_values('importance', ascending=False)

# # Sample a subset of data for memory efficiency
# sample_size = 100000
# sample_idx = np.random.choice(flights_full.index, size=sample_size, replace=False)
# flights_sample = flights_full.loc[sample_idx]

# rf_importance = get_rf_importance(flights_sample, 'DEPARTURE_DELAY')
# print("\nRandom Forest Feature Importance:")
# print(rf_importance.head(10))

# # Plot Random Forest Feature Importance
# plt.figure(figsize=(12, 6))
# sns.barplot(data=rf_importance.head(15), x='feature', y='importance')
# plt.xticks(rotation=45, ha='right')
# plt.title('Random Forest Feature Importance')
# plt.tight_layout()
# plt.show()

In [14]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Compare delay patterns between TAIL_NUMBER and FLIGHT_NUMBER
# tail_analysis = flights_full.groupby('TAIL_NUMBER')['DEPARTURE_DELAY'].agg(['mean', 'std', 'count'])
# flight_analysis = flights_full.groupby('FLIGHT_NUMBER')['DEPARTURE_DELAY'].agg(['mean', 'std', 'count'])

# # Filter for aircraft/flights with sufficient data (>30 flights)
# tail_filtered = tail_analysis[tail_analysis['count'] > 30]
# flight_filtered = flight_analysis[flight_analysis['count'] > 30]

# # Create comparison plots
# fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(15, 5))

# # Plot delay distributions
# sns.histplot(data=tail_filtered['mean'], ax=ax1, bins=50)
# ax1.set_title('Delay Distribution by Aircraft')
# ax1.set_xlabel('Mean Delay (minutes)')

# sns.histplot(data=flight_filtered['mean'], ax=ax2, bins=50)
# ax2.set_title('Delay Distribution by Flight Number')
# ax2.set_xlabel('Mean Delay (minutes)')

# plt.tight_layout()
# plt.show()

# # Print summary statistics
# print("Aircraft (TAIL_NUMBER) Statistics:")
# print(f"Number of unique aircraft: {len(tail_filtered)}")
# print(f"Average delay variation between aircraft: {tail_filtered['mean'].std():.2f} minutes")

# print("\nFlight Number Statistics:")
# print(f"Number of unique flights: {len(flight_filtered)}")
# print(f"Average delay variation between flights: {flight_filtered['mean'].std():.2f} minutes")

In [15]:
# # List of columns to keep
# columns_to_keep = [
#     # Time-related features
#     'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 
#     'SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL', 'SCHEDULED_TIME',
    
#     # Flight and Airline identifiers
#     'AIRLINE_x',  # Keep one airline IATA code
#     'FLIGHT_NUMBER', 'TAIL_NUMBER',
    
#     # Route information with IATA codes
#     'ORIGIN_AIRPORT',  # Airport IATA code
#     'DESTINATION_AIRPORT',  # Airport IATA code
#     'DISTANCE',
    
#     # Airport details
#     'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE',
#     'CITY_dest', 'STATE_dest', 'COUNTRY_dest', 'LATITUDE_dest', 'LONGITUDE_dest',
    
#     # Target variable
#     'DEPARTURE_DELAY'
# ]

# # Create cleaned dataset
# flights_cleaned = flights_full[columns_to_keep]

In [16]:
# flights_cleaned.columns

# Part 2

In [22]:
df=flights_full

# Save as CSV
csv_out = "flights_processed.csv"
df.to_csv(csv_out, index=False)

print(f"✅ Processed data saved to: {csv_out}")

# df.info
# df.head(2)

✅ Processed data saved to: flights_processed.csv

In [28]:
# # List of delay cause columns
# delay_cols = [
#     'AIR_SYSTEM_DELAY',
#     'SECURITY_DELAY',
#     'AIRLINE_DELAY',
#     'LATE_AIRCRAFT_DELAY',
#     'WEATHER_DELAY'
# ]

# # Replace NaN with 0 in these columns
# df[delay_cols] = df[delay_cols].fillna(0)

# Converting Categorical data to numeric

In [27]:
# from sklearn.preprocessing import LabelEncoder

# cat_cols = df.select_dtypes(include=['object']).columns.tolist()


# label_encoders = {}
# for col in cat_cols:
#     le = LabelEncoder()
#     df[col] = le.fit_transform(df[col].astype(str))
#     label_encoders[col] = le  # save encoder for later use

# Checking correlation between features

In [26]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# corr = df.corr(numeric_only=True)['DEPARTURE_DELAY'].sort_values(ascending=False)
# print(corr)